<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="EmailCloud">
      <exm>
          <eds>
              <dataContextFactory set:type="Sitecore.Support.EDS.Providers.SparkPost.Data.DataContextFactory, Sitecore.Support.298164" />
          </eds>
      </exm>
  </sitecore>
</configuration>